<div class="title-bar">
  <h2 class="page-title">Plato Balanceado</h2>
</div>
<div class="main-page container-fluid">
  <div class="container-fluid">
    <form [formGroup]="formReceta" class="mb-3">
      <div class="row">
        <div class="col-12">
          <h5 class="mb-3">Datos Generales</h5>
        </div>
      </div>

      <div class="row mt-3">
        <!-- Columna de contenido -->
        <div class="col-xl-8">
          <div class="row mt-3">
            <div class="col-12">
              <label [ngClass]="!soloLectura? 'is-required mb-1' : 'mb-1'"><strong>Título</strong></label>
              <input type="text" class="form-control" formControlName="titulo" [readOnly]="soloLectura">
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-12">
              <label [ngClass]="!soloLectura? 'is-required mb-1' : 'mb-1'"><strong>Breve Descripción</strong></label>
              <textarea class="form-control" formControlName="descripcion" maxlength="200" rows="3" [readOnly]="soloLectura"></textarea>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-md-6 d-flex justify-content-center">
              <div class="form-check form-switch">
                <label class="mb-1"><strong>Vegetariano</strong></label>
                <input type="checkbox" formControlName="apto_vegetariano" class="form-check-input" />
              </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center mt-2 mt-md-0">
              <div class="form-check form-switch">
                <label class="mb-1"><strong>Vegano</strong></label>
                <input type="checkbox" formControlName="apto_vegano" class="form-check-input" />
              </div>
            </div> 
          </div>

        </div>

        <!-- Columna de imagen -->
        <div class="col-xl-4 d-flex mt-4 mt-xl-0 flex-column align-items-center">
          <div class="img-area" data-img="">
            <div *ngIf="!imagenUrl" class="d-flex flex-column align-items-center">
              <i class='fas fa-cloud' style="font-size: 50px; margin-bottom: 10px;"></i>
              <h3>Subir Imagen</h3>
              <p>La imagen debe ser menor a <span>1Mb</span></p>
            </div>
            <img *ngIf="imagenUrl" [src]="imagenUrl" alt="Imagen seleccionada" class="img-fluid" />
          </div>
          <label for="file-upload" class="btn btn-primary btn-shadow w-100 mt-3" [hidden]="soloLectura">
            Seleccionar Imagen
          </label>
          <input id="file-upload" type="file" accept="image/*" class="form-control mt-2" (change)="onFileChange($event)" />
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <label [ngClass]="!soloLectura? 'is-required mb-1' : 'mb-1'"><strong>Preparación</strong></label>
          <textarea class="form-control" formControlName="preparacion" maxlength="2000" rows="7" [readOnly]="soloLectura"></textarea>
        </div>
      </div>

      <div class="row mt-3">
        <label [ngClass]="!soloLectura? 'is-required mb-1' : 'mb-1'"><strong>Ingredientes</strong></label>
        <div formArrayName="ingredientes">
          <div *ngFor="let ingrediente of ingredientes.controls; let i = index" [formGroupName]="i">
            <div class="row mt-2">
              <div class="col-5">
                <input type="text" class="form-control" [value]="ingrediente.get('alimento')?.value?.nombre" readonly>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" [value]="ingrediente.get('porcion')?.value?.nombre" readonly>
              </div>
              <div class="col-2">
                <input type="number" class="form-control" formControlName="cantidad" readonly>
              </div>
              <div class="col-1 ps-0"><button type="button" class="btn btn-danger" (click)="eliminarIngrediente(i)" [hidden]="soloLectura"><i class="fas fa-trash"></i></button></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" [hidden]="soloLectura">
        <div class="col-12">
          <button type="button" class="btn btn-primary mt-3" (click)="abrirModalIngrediente()"><i class="fas fa-plus"></i> Agregar ingrediente</button>
        </div>
      </div>

      <hr class="my-5">

      <div class="row">
        <div class="col-12">
          <h5 class="mb-3">Valor Energético del Plato</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-xl-3"><label class="mb-1"><strong>Calorías (kcal)</strong></label><input type="number" class="form-control" formControlName="energia_total_kcal"></div>
        <!-- <div class="col-6 col-xl-3"><label class="mb-1"><strong>Energía (kJ)</strong></label><input type="number" class="form-control" formControlName="energia_total_kj"></div> -->
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <h5 class="mb-3">Macronutrientes</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-xl-3"><label class="mb-1"><strong>Proteínas (g)</strong></label><input type="number" class="form-control" formControlName="proteinas_totales" readonly></div>
        <div class="col-12 col-xl-3 mt-2 mt-xl-0"><label class="mb-1"><strong>Carbohidratos (g)</strong></label><input type="number" class="form-control" formControlName="carbohidratos_totales" readonly></div>
        <div class="col-12 col-xl-3 mt-2 mt-xl-0"><label class="mb-1"><strong>Grasas (g)</strong></label><input type="number" class="form-control" formControlName="grasas_totales" readonly></div>
      </div>

      <div class="row mt-5">
        <div class="col-12 d-flex justify-content-between">
          <button class="btn btn-secondary" (click)="limpiarReceta()">Volver</button>
          <button *ngIf="!esNuevo && soloLectura" class="btn btn-primary" (click)="toggleSoloLectura()">Editar</button>
          <button *ngIf="esNuevo || !soloLectura" class="btn btn-primary" [disabled]="!formReceta.valid" (click)="guardarReceta()">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<app-modal-ingrediente
  [(showDialog)]="mostrarModal"
  (ingredienteSeleccionado)="agregarIngredienteSeleccionado($event)">
</app-modal-ingrediente>
