<main class="container-fluid h-100">
    <div class="row">
        <div class="col-md-4 bg-white shadow-effect">
            <div class="wrapper">
                <form *ngIf="!loading" [formGroup]="formLogin"  class="body" autocomplete="off">
                    <img class="logo" src="/assets/images/doctor.png">
                    <div class="form-floating mb-3 mt-3">
                        <input type="text" class="form-control" formControlName="username" placeholder="Usuario" autocomplete="true"
                        [ngClass]="!(username.hasError('required') && username.touched) ? '': 'is-invalid' ">
                        <label>Usuario</label>
                        <div class="invalid-feedback text-start" *ngIf="username?.hasError('required') && username?.touched">
                            Campo requerido
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" autocomplete="true"
                        [ngClass]="!(password.hasError('required') && password.touched) ? '': 'is-invalid' ">
                        <label>Contraseña</label>
                        <div class="invalid-feedback text-start" *ngIf="password?.hasError('required') && password?.touched">
                            Campo requerido
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-primary btn-lg" [disabled]="formLogin.invalid" (click)="login()">Ingresar</button>
                    </div>
                </form>
                <app-spinner *ngIf="loading"></app-spinner>
            </div>
        </div>
        <div class="col-md-8 bg-image d-flex flex-column align-items-left justify-content-center">
            <h1 class="title text-white">Sistema de gestión <br>profesional</h1>    
            
            <h1 class="app-title"><img class="title-logo" src="/assets/images/logo.png">lu</h1>
        </div>
    </div>
</main>



