.navbar {
  position: fixed;
  min-width: 100%;
  height: var(--navbar-height);
  z-index: 100;
  background-color: #121519 !important;
}

.nav-logo {
  height: 40px;
  filter: grayscale(1) brightness(1000%) contrast(1000%);
  user-select: none;
}