.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: 280px;
  position: fixed;
  top: var(--navbar-height); 
}

.selected {
  background-color: #007bff;
  color: white !important;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}