<div class="title-bar">
  <h2 class="page-title">Punto de Compra</h2>
</div>
<div class="main-page container-fluid">
  <div class="container-fluid">
    <form [formGroup]="formPuntoCompra" class="mb-3">
      <div class="row">
        <!-- Columna de contenido -->
        <div class="col-xl-8">
          <div class="row mt-1">
            <div class="col-12 col-xl-6"> 
              <div class="form-group">
                <label [ngClass]="!soloLectura ? 'is-required mb-1' : 'mb-1'"><strong>Nombre</strong></label>
                <input type="text" class="form-control rounded-1" formControlName="nombre" maxlength="50" [readOnly]="soloLectura"
                       [ngClass]="!formPuntoCompra.get('nombre')?.touched ? '' : formPuntoCompra.get('nombre')?.valid ? '' : 'is-invalid'" />
                <div class="invalid-feedback" *ngIf="formPuntoCompra.get('nombre')?.hasError('required') && formPuntoCompra.get('nombre')?.touched">
                  Campo requerido
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-6 mt-2 mt-xl-0">
              <div class="form-group">
                <label [ngClass]="!soloLectura ? 'is-required mb-1' : 'mb-1'"><strong>Dirección</strong></label>
                <input type="text" class="form-control rounded-1" formControlName="direccion" maxlength="50" [readOnly]="soloLectura"
                       [ngClass]="!formPuntoCompra.get('direccion')?.touched ? '' : formPuntoCompra.get('direccion')?.valid ? '' : 'is-invalid'" />
                <div class="invalid-feedback" *ngIf="formPuntoCompra.get('direccion')?.hasError('required') && formPuntoCompra.get('direccion')?.touched">
                  Campo requerido
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2 mt-xl-3">
            <div class="col-12">
              <div class="form-group">
                <label><strong>Link de Google Maps</strong></label>
                <input type="text" class="form-control rounded-1" formControlName="link" [readOnly]="soloLectura"
                  [ngClass]="!formPuntoCompra.get('link')?.touched ? '' : formPuntoCompra.get('link')?.valid ? '' : 'is-invalid'" />
                <div class="invalid-feedback" *ngIf="formPuntoCompra.get('link')?.hasError('required') && formPuntoCompra.get('link')?.touched">
                  Campo requerido
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2 mt-xl-3">
            <div class="col-12">
              <div class="form-group" [ngClass]="soloLectura ? 'disable-interactions' : ''">
                <label class="mb-2"><strong>Tags</strong></label>
                <mat-form-field class="custom-font" appearance="outline" class="w-100">
                  <mat-label class="custom-font">Selecciona Tags</mat-label>
                  <mat-select class="custom-font" formControlName="tags" multiple>
                    <mat-option class="custom-font" *ngFor="let key of tagKeys" [value]="key">{{ tagsEnum[key] }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="invalid-feedback" *ngIf="formPuntoCompra.get('tags')?.hasError('required') && formPuntoCompra.get('tags')?.touched">
                  Debes seleccionar al menos un tag.
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Columna de imagen -->
        <div class="col-xl-4 mt-3 mt-xl-0 d-flex flex-column align-items-center">
          <div class="img-area" data-img="">
            <div *ngIf="!imagenUrl" class="d-flex flex-column align-items-center">
              <i class='fas fa-cloud' style="font-size: 50px; margin-bottom: 10px;"></i>
              <h3>Subir Imagen</h3>
              <p>La imagen debe ser menor a <span>1Mb</span></p>
            </div>
            <img *ngIf="imagenUrl" [src]="imagenUrl" alt="Imagen seleccionada"/>
          </div>
          <label for="file-upload" class="btn btn-primary btn-shadow w-100 mt-3" [hidden]="soloLectura">
            Seleccionar Imagen
          </label>
          <input id="file-upload" type="file" accept="image/*" class="form-control" (change)="onFileChange($event)"/>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12 d-flex justify-content-between">
          <button class="btn btn-secondary btn-shadow" (click)="limpiarPuntoCompra()">Volver</button>
          <button class="btn btn-primary btn-shadow" *ngIf="!this.esNuevo && this.soloLectura" (click)="toggleSoloLectura()">Editar</button>
          <button class="btn btn-primary btn-shadow" *ngIf="this.esNuevo || !this.soloLectura" [disabled]="!this.formPuntoCompra.valid" (click)="guardarPuntoCompra()">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>