<div class="main-page container-fluid">
  <div class="row mb-5">
    <div class="col-12">
      <h2 class="page-title">Pregunta de Cuestionario</h2>
      <hr>
    </div>
  </div>
  <div class="container-fluid">
    <form *ngIf="!loading" [formGroup]="formCuestionario" class="mb-3">
      <div class="row">
        <div class="col-12">
          <label class="is-required mb-1"><strong>Pregunta</strong></label>
          <input type="text" class="form-control" formControlName="pregunta" maxlength="200"
              [ngClass]="!formCuestionario.get('pregunta')?.touched ? '' :formCuestionario.get('pregunta')?.valid ? '': 'is-invalid' ">
          <div class="invalid-feedback" *ngIf="formCuestionario.get('pregunta')?.hasError('required') && formCuestionario.get('pregunta')?.touched">
            Campo requerido
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <div class="form-group">
            <label class="is-required mb-1"><strong>Posibles respuestas</strong></label>
            <div formArrayName="respuestas">
              <div *ngFor="let respuesta of respuestas.controls; let i = index" [formGroupName]="i">
                <div class="row">
                  <div class="col-10 mt-2 mb-1">
                    <input type="text" class="form-control" formControlName="descripcion" [ngClass]="{'is-invalid': respuesta.get('descripcion')?.invalid && respuesta.get('descripcion')?.touched}">
                    <div class="invalid-feedback" *ngIf="respuesta.get('descripcion')?.hasError('required') && respuesta.get('descripcion')?.touched">
                      Descripción requerida
                    </div>
                  </div>
                  <div class="col-1 mt-2 mb-1 ps-0">
                    <button class="btn btn-delete btn-danger btn-shadow" type="button" (click)="eliminarRespuesta(i)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-flex justify-content-start mt-3 mb-4">
                <button class="btn btn-primary btn-shadow" type="button" (click)="agregarRespuesta()">
                  <i class="fas fa-plus"></i> Agregar respuesta
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 d-flex justify-content-between">
          <button class="btn btn-secondary btn-shadow" (click)="limpiarCuestionario()">Volver</button>
          <button class="btn btn-primary btn-shadow" *ngIf="!this.esNuevo && this.soloLectura" (click)="toggleSoloLectura()">Editar</button>
          <button class="btn btn-primary btn-shadow" *ngIf="this.esNuevo || !this.soloLectura" [disabled]="!this.formCuestionario.valid" (click)="guardarCuestionario()">Guardar</button>
        </div>
      </div>
    </form>
    <app-spinner *ngIf="loading"></app-spinner>
  </div>
</div>