<div class="title-bar">
  <h2 class="page-title">Pregunta de Cuestionario</h2>
</div>
<div class="main-page container-fluid">
  <div class="container-fluid">
    <form [formGroup]="formCuestionario" class="mb-3">
      <div class="row">
        <div class="col-12">
          <label [ngClass]="!soloLectura? 'is-required mb-1' : 'mb-1'"><strong>Pregunta</strong></label>
          <input type="text" class="form-control" formControlName="pregunta" maxlength="200" [readOnly]="soloLectura"
              [ngClass]="!formCuestionario.get('pregunta')?.touched ? '' :formCuestionario.get('pregunta')?.valid ? '': 'is-invalid' ">
          <div class="invalid-feedback" *ngIf="formCuestionario.get('pregunta')?.hasError('required') && formCuestionario.get('pregunta')?.touched">
            Campo requerido
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <div class="form-group">
            <label [ngClass]="!soloLectura? 'is-required mb-1' : 'mb-1'"><strong>Opciones</strong></label>
            <div formArrayName="opciones">
              <div *ngFor="let opcion of opciones.controls; let i = index" [formGroupName]="i">
                <div class="row">
                  <div class="col-10 mt-2 mb-1">
                    <input type="text" class="form-control" [readOnly]="soloLectura" formControlName="opcion" [ngClass]="{'is-invalid': opcion.get('opcion')?.invalid && opcion.get('opcion')?.touched}">
                    <div class="invalid-feedback" *ngIf="opcion.get('opcion')?.hasError('required') && opcion.get('opcion')?.touched">
                      Campo requerido
                    </div>
                  </div>
                  <div class="col-1 mt-2 mb-1 ps-0">
                    <button class="btn btn-delete btn-danger btn-shadow" type="button" [hidden]="this.soloLectura" (click)="eliminarOpcion(i)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 d-flex justify-content-start mt-3 mb-4">
                <button class="btn btn-primary btn-shadow" type="button" (click)="agregarOpcion()" [hidden]="this.soloLectura">
                  <i class="fas fa-plus"></i> Agregar opción
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 d-flex justify-content-between">
          <button class="btn btn-secondary btn-shadow" (click)="limpiarCuestionario()">Volver</button>
          <button class="btn btn-primary btn-shadow" *ngIf="!this.esNuevo && this.soloLectura" (click)="toggleSoloLectura()">Editar</button>
          <button class="btn btn-primary btn-shadow" *ngIf="this.esNuevo || !this.soloLectura" [disabled]="!this.formCuestionario.valid" (click)="guardarCuestionario()">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>