.main-page {
  padding: 2vw;
  min-height: calc(100vh - var(--navbar-height));
}

.page-title {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
}

.main-page hr {
  margin: 0;
  margin-top: 8px;
}

.btn-delete {
  width: 40px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}