<p-dialog header="Agregar Ingrediente" [(visible)]="showDialog" [modal]="true" [style]="{width: '800px'}" (onHide)="closeDialog()" class="custom-dialog ms-1 me-2">
  <form [formGroup]="formFiltrosModal">
    <div class="row mt-2 align-items-end">
      <div class="col-8">
        <label class="mb-1"><strong>Nombre</strong></label>
        <input type="text" class="form-control" formControlName="nombre">
      </div>
      <div class="col-1 align-self-end p-0 ps-2">
        <button class="btn btn-search btn-primary btn-shadow" (click)="listarAlimentos()">
          <i *ngIf="!loading" class="fas fa-sm fa-search text-white"></i>
          <div *ngIf="loading" class="spinner-border spinner-border-sm text-white" role="status"></div>
        </button>
      </div>
    </div>
  </form>

  <form [formGroup]="formIngrediente">
    <div class="table-responsive mt-3">
      <table class="table table-hover border">
        <thead class="table-header">
          <tr>
            <th scope="col" class="w-50">Nombre del Alimento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alimento of listAlimentos" (click)="seleccionarAlimento(alimento)" [class.table-primary]="alimento === formIngrediente.get('alimento')?.value"
              style="cursor: pointer;">
            <td  class="align-middle text-start">{{ alimento.nombre }}</td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [pageSizeOptions]="[5]" [pageSize]="this.size" [length]="this.total" showFirstLastButtons="true" (page)="onPageChange($event)"></mat-paginator> 
    </div>
    
    <div class="row mt-md-4 mt-2">
      <div class="col-md-5">
        <div class="form-group">
          <label class="mb-1"><strong>Porción</strong></label>
          <select class="form-select" formControlName="porcion">
            <option *ngFor="let porcion of porcionesDisponibles" [ngValue]="porcion">
              {{ porcion.nombre }} ({{ porcion.peso }}g)
            </option>
          </select>
          <div *ngIf="formIngrediente.get('porcion')?.hasError('required') && formIngrediente.get('porcion')?.touched" class="text-danger small">
            Campo requerido
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-2 mt-md-0">
        <div class="form-group">
          <label class="mb-1"><strong>Cantidad</strong></label>
          <input type="number" class="form-control" formControlName="cantidad" min="1" />
          <div *ngIf="formIngrediente.get('cantidad')?.hasError('required') && formIngrediente.get('cantidad')?.touched" class="text-danger small">
            Campo requerido
          </div>
          <div *ngIf="formIngrediente.get('cantidad')?.hasError('min') && formIngrediente.get('cantidad')?.touched" class="text-danger small">
            Debe ser al menos 1
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-4 mt-md-0 d-flex flex-column justify-content-end align-items-end">
        <button type="button" pButton class="btn btn-primary" label="Guardar" (click)="guardar()" icon="pi pi-check" [disabled]="formIngrediente.invalid">Guardar</button>
      </div>
    </div>
  </form>
</p-dialog>
