<div class="title-bar">
  <h2 class="page-title">Menú Balanceado</h2>
</div>
<div class="main-page container-fluid">
  <div class="container-fluid">
    <form [formGroup]="formFiltros">
      <div class="row align-items-end">
        <div class="col-xl-5 col-lg-8 col-md-10 col-8">
          <label class="mb-1"><strong>Título</strong></label>
          <input type="text" class="form-control" formControlName="titulo">
        </div>
        <div class="col-1 align-self-end p-0">
          <button class="btn btn-search btn-primary btn-shadow" (click)="listarRecetas()">
            <i *ngIf="!loading" class="fas fa-sm fa-search text-white"></i>
            <div *ngIf="loading" class="spinner-border spinner-border-sm text-white" role="status"></div>
          </button>
        </div>
        <div class="order-first order-lg-last col-xl-6 col-lg-3 col-12 d-flex justify-content-end">
          <button class="btn btn-primary btn-shadow" [routerLink]="'/receta-detalle'" (click)="nuevaReceta()">
            <i class="fas fa-plus me-2"></i> Agregar
          </button>
        </div>
      </div>
    </form>
    <div class="row mt-4">
      <div class="table-responsive">
        <table class="table table-striped border table-hover">
          <thead class="table-header">
            <tr>
              <th scope="col" class="w-10 text-center" style="width: 100px;"></th>
              <th scope="col" class="w-60 text-start">Título del Plato</th>
            </tr>
          </thead>
          
          <tbody>
            <tr *ngFor="let receta of this.listRecetas, index as i">
              <td class="align-middle text-center">
                <div class="dropend">
                  <button type="button" class="btn btn-primary btn-shadow" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-h text-white"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li>
                      <button class="dropdown-item custom-dropdown-item" (click)="verRecetaSeleccionada(receta.receta_id)">
                        <div class="d-flex align-items-center">
                          <i class="fas fa-align-justify"></i>
                          <span class="ms-2">Inspeccionar</span>
                        </div>
                      </button>
                    </li>
                    <li>
                      <button class="dropdown-item custom-dropdown-item" (click)="toggleEliminarModal(receta.receta_id)">
                        <div class="d-flex align-items-center">
                          <i class="fas fa-trash"></i>
                          <span class="ms-2">Eliminar</span>
                        </div>
                      </button>
                    </li>
                  </ul>
                </div>
              </td>
              <td class="align-middle text-start">{{receta.titulo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <mat-paginator [pageSize]="this.size" [length]="this.total" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons="true" (page)="onPageChange($event)"></mat-paginator> 
    </div>
  </div>
</div>

<app-modal-confirmar
  [title]="'Eliminar Receta'"
  [message]="'¿Está seguro que desea eliminar esta receta?'"
  [(showDialog)]="displayEliminarModal"
  (confirm)="eliminarReceta()"
  (cancel)="displayEliminarModal = false">
</app-modal-confirmar>