:root {
  --navbar-height: 65px;
}

html, body { height: 100%; height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-page {
  padding: 2vw;
  min-height: calc(100vh - var(--navbar-height));
}

.page-title {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
}

.main-page hr {
  margin: 0;
  margin-top: 8px;
}

.is-required:after {
  content: '*';
  margin-left: 3px;
  color: rgb(28, 27, 27);
  font-size: 20px;
  font-weight: bolder;
}

.btn-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);  
}

.btn-primary {
  background: #1964d4 !important;
  border-color: #1964d4 !important;
  color: white;
  transition: 300ms ease-in-out;
}

.btn-primary:hover {
  background: #297bf7 !important;
  border-color: #297bf7 !important;
  color: white;
}