:root {
  --title-height: 140px;
}

html, body { height: 100%; height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.is-required:after {
  content: '*';
  margin-left: 3px;
  color: rgb(28, 27, 27);
  font-size: 20px;
  font-weight: bolder;
}

.btn-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);  
}

.btn-primary {
  background: #1964d4 !important;
  border-color: #1964d4 !important;
  color: white;
  transition: 300ms ease-in-out;
}

.btn-primary:hover {
  background: #297bf7 !important;
  border-color: #297bf7 !important;
  color: white;
}