:root {
  --navbar-height: 65px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.main-page {
  padding: 2vw;
  min-height: calc(100vh - var(--navbar-height));
}

.page-title {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
}

.main-page hr {
  margin: 0;
  margin-top: 8px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-primary {
  background: #1964d4 !important;
  border-color: #1964d4 !important;
  color: white;
  transition: 300ms ease-in-out;
}

.btn-primary:hover {
  background: #297bf7 !important;
  border-color: #297bf7 !important;
  color: white;
}